.page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  background-image: url("../../assets/background.jpeg");
  background-size: cover; /* Adjusts image to cover the container */
  background-repeat: no-repeat; /* Avoid tiling the image */
  background-position: center;
}
