.main-page {
  margin: 0 auto;
}

.main-page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.main-page__title {
  width: 608px;
  height: 128px;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: white;
  margin-top: 120px;
  margin-bottom: 0;
}

.main-page__description {
  width: 608px;
  height: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: white;
  padding-top: 32px;
  margin: 0 auto;
}

.main-page__input-container {
  display: flex;
  align-items: center;
  width: 608px;
  height: 64px;
  border-radius: 100px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 0;
  margin-top: 88px;
  margin-bottom: 80px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.main-page__input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: #000000;
  font-size: 16px;
  height: 100%;
  padding: 0;
}

.main-page__button {
  border: none;
  outline: none;
  background-color: #2f71e5;
  color: #ffffff;
  font-size: 16px;
  border-radius: 100px;
  cursor: pointer;
  height: 64px;
  width: 168px;
}

.main-page__button:hover {
  background-color: #265cb8;
}

.main-page__button:focus {
  outline: 2px solid #ffffff;
}
