.search-form {
  background-position: center;
  color: white;
  text-align: center;
  padding: 0 auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-form__container {
  margin: 0 auto;
  padding: 0 auto;
}

.search-form__title {
  width: 608px;
  height: 128px;
  margin: 0;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
}

.search-form__subtitle {
  width: 608px;
  height: 24px;
  padding-top: 32px;
  margin: 0 auto;
}

.search-form__form {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px;
  border-radius: 100px;
  padding-top: 88px;
}

.search-form__input {
  flex: 1;
  max-width: 400px;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  outline: none;
}

.search-form__button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #2f71e5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-form__button:hover {
  background-color: #2f71e5;
}
